@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/google-sans/GoogleSans-Regular.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/google-sans/GoogleSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/google-sans/GoogleSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
