.content-gateway {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  //height: 500px;
  margin: auto;
  justify-content: flex-start;

  .item-content-gateway {
    height: 60px;
    flex-basis: calc(10% - 10px); /* Adjust the width as needed, accounting for margins */
    margin: 8px; /* Adjust as needed */
    text-align: center; /* Center the content */
    background-color: #FFF;
    justify-content: center;
    display: block;
    align-items: center;
    position: relative;
    border-radius: 8px;
    //border: 1px solid #ccc;
    padding: 16px 4px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

    img {
      width: 32px;
    }

    h4 {
      font-size: 14px;
      line-height: 140%;
      color: #aaaaaa;
      margin-bottom: 5%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100px;
    }

    .item-content-gateway-tick {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 15%;
      right: 0;
    }

    .active-n {
      background-color: #0b856f;
    }

    .fail-n {
      background-color: red;
    }
  }
}

.item-content-gateway:hover {
  background-color: #0a58ca;
}

.row {
  border-radius: 16px;
  width: 100%;

  .card-title {
    font-size: 18px;
    line-height: 140%;
    font-weight: 600;
    color: #000;
  }
}

.bottom-create-device {
  display: flex;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 100;
  img {
    width: 60px;
  }

}
